<h1>
  <%= @movie.title %>
</h1>

<%= link_to 'Editar informações', edit_movie_path %> <br />

<img src="<%= url_for(@movie.poster) %>">

<dl>
  <dd>
    <strong>Título: </strong> <%= @movie.title %>
  </dd>
  <dd>
    <strong>Ano de lançamento: </strong> <%= @movie.release_year %>
  </dd>
  <dd>
    <strong>Sinopse: </strong> <%= @movie.plot %>
  </dd>
  <dd>
    <strong>País de origem: </strong> <%= @movie.country %>
  </dd>
  <dd>
    <strong>Duração (minutos):</strong> <%= @movie.duration %>
  </dd>
  <dd>
    <strong>Diretor(a):</strong> <%= link_to @movie.director.name, @movie.director %>
  </dd>
  <dd>
    <strong>Gênero:</strong> <%= link_to @movie.movie_genre.description, @movie.movie_genre %>
  </dd>
  <dd>
  <strong>Status do filme: </strong> <%= @movie.released? ? 'Lançado' : 'Em produção' %></dd>
</dl>

<% if @movie.production? %>
  <%= button_to 'Marcar como lançado', released_movie_path, { method: 'patch' } %> 
<% else %>
  <%= button_to 'Marcar como em produção', production_movie_path, { method: 'patch' } %>
<% end %>
<br>
<% if @movie.published? %>
  <%= button_to 'Marcar como rascunho', draft_movie_path, { method: 'patch' } %> 
<% else %>
  <%= button_to 'Publicar filme', publish_movie_path, { method: 'patch' } %>
<% end %>