<h1>Lista de filmes feitos por <%= @director.name %></h1>
<em>Gênero favorito: <%= link_to @director.favorite_genre.description, @director.favorite_genre %></em> <br />

<%= link_to 'Editar informações', edit_director_path %>

<h2>Filmes lançados de <%= @director.name %></h2>

<ol>
  <% @director.movies.released.each do |movie| %>
    <li>
      <%= link_to movie.title, movie %>
    </li>
  <% end %>
</ol>

<h2>Filmes em produção de <%= @director.name %></h2>

<ol>
  <% @director.movies.production.each do |movie| %>
    <li>
      <%= link_to movie.title, movie %>
    </li>
  <% end %>
</ol>