<h1>Lista de filmes - <%= @movie_genre.description %></h1>

<%= link_to 'Editar informações', edit_movie_genre_path %>

<h2>Filmes lançados de <%= @movie_genre.description %></h2>

<ol>
  <% @movie_genre.movies.published.released.each do |movie| %>
  <li>
    <%= link_to movie.title, movie %>
  </li>
  <% end %>
</ol>

<h2>Filmes em produção de <%= @movie_genre.description %></h2>

<ol>
  <% @movie_genre.movies.published.production.each do |movie| %>
  <li>
    <%= link_to movie.title, movie %>
  </li>
  <% end %>
</ol>