<!DOCTYPE html>
<html>
  <head>
    <title>Moviebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <dl>
      <dd><%= link_to 'Home', root_path %></dd>
      <dd><%= link_to 'Adicionar filme', root_path %></dd>
      <dd><%= link_to 'Adicionar gênero', root_path %></dd>
      <dd><%= link_to 'Adicionar diretor', root_path %></dd>
      </dl>
    </nav>
    <%= yield %>
  </body>
</html>
